<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>

<head th:replace="/_fragments/header :: head"></head>

<body>
<div class="container-fluid position-relative d-flex p-0">

    <div th:replace="/_fragments/spinner :: spinner"></div>

    <!-- PASSWORD RECOVERY STARTS -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="/homepage" class="">
                            <h4 class="text-primary"><i class="fa fa-user-edit me-2"></i>DragonDice</h4>
                        </a>
                        <h4>Password Recovery</h4>
                    </div>
                    <form th:action="@{/password-recovery/result}" method="post">
                        <div class="form-floating mb-3">
                            <input name="password" type="password" class="form-control" id="floatingText"
                                   placeholder="password"/>
                            <label for="floatingText">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="confirmPassword" type="password" class="form-control" id="floatingText"
                                   placeholder="Confirm password"/>
                            <label for="floatingText">Confirm Password</label>
                        </div>
                        <input th:type="hidden" th:name="id" th:value="${id}">
                        <input th:type="hidden" th:name="token" th:value="${token}">
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Send</button>

                        <p class="text-center mb-0">Return to login page <a href="/login-section/login">Sign In</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- PASSWORD RECOVERY ENDS -->
</div>

<div th:replace="/_fragments/javascript :: javascript"></div>

</body>

</html>