<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head th:replace="/fragments/header :: head"></head>
<body>
<div class="container-fluid position-relative d-flex p-0">
    <div th:replace="/fragments/spinner :: spinner"></div>
    <div th:replace="/fragments/sidebar :: sidebar"></div>

    <!-- Content Start -->
    <div class="content">
        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <!-- Character Window Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <!-- Iteration Start -->
                    <div th:each="character: ${characters}" class="col-sm-12 col-md-6 col-xl-4" >
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" th:src="@{/resources/img/gix.png}" alt="" style="width: 100px; height: 100px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0" th:text="${character.name}"></h6>
                                    </div>
                                    <span>Level:&nbsp;</span>
                                    <span th:text="${character.stats.level}"></span><br/>
                                    <span>Name:&nbsp;</span>
                                    <span th:text="${character.name}"></span><br/>
                                    <!-- Dynamic Class / Subclass display when class feature is implemented -->
                                    <span>Class: Rogue / Scout</span>

                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <a th:href="@{'/app/character-sheet/' + ${character.id}}">view</a>
                                        <a th:href="@{'/app/character-editor-step-1/' + ${character.id}}">edit</a>
                                        <a th:href="@{'/app/character-delete/' + ${character.id}}">delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Iteration End -->
            </div>
        </div>
        <!-- Character Window End -->
        <div th:replace="/fragments/footer :: footer"></div>
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>