<head th:fragment="head">
  <title>DragonDice - Home Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link rel="icon" th:href="@{/resources/img/favicon.ico}"/>

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect"/>
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet"/>

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>

  <!-- Libraries Stylesheet -->
  <link th:href="@{/resources/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet"/>
  <link th:href="@{/resources/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
  <!-- Template Stylesheet -->
  <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
</head>
