<!--TODO: Thymeleaf equivalent of validation error that will be displayed upon error in validation-->
<!--TODO Complete rework of this form to create better solution to this long lasting problem-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head th:replace="/fragments/header :: head"></head>
<body>
<div class="container-fluid position-relative d-flex p-0">
    <div th:replace="/fragments/spinner :: spinner"></div>
    <div th:replace="/fragments/sidebar :: sidebar"></div>

    <!-- Content Start -->
    <div class="content">
        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <!-- Character Creator -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <!-- SCORE INCREASE SELECTION - START -->
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">

                        <p>HINT: According to rules for each Ability Score Increase level, you can either
                            choose score increase or feat. You cannot choose both of them.</p>

                        <div th:each="i, iter : ${increases}">
                            <h5>Ability Score Increase</h5>
                            <div id="lvl-4-increase">
                                <div class="bg-secondary rounded h-100 p-4">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr>
                                            <th scope="col">STR</th>
                                            <th scope="col">DEX</th>
                                            <th scope="col">CON</th>
                                            <th scope="col">INT</th>
                                            <th scope="col">WIS</th>
                                            <th scope="col">CHA</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-floating mb-3">
                                                    <p th:text="${i.getStrIncrease()}"></p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-floating mb-3">
                                                    <p th:text="${i.getDexIncrease()}"></p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-floating mb-3">
                                                    <p th:text="${i.getConIncrease()}"></p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-floating mb-3">
                                                    <p th:text="${i.getIntIncrease()}"></p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-floating mb-3">
                                                    <p th:text="${i.getWisIncrease()}"></p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-floating mb-3">
                                                    <p th:text="${i.getChaIncrease()}"></p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a th:href="@{'/app/score-increase-add/' + ${i.getId()} + '/' + ${charId}}"
                                       class="btn btn-primary rounded-pill m-2">
                                        Add Score Increase
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SCORE INCREASE SELECTION - END -->

                <!-- FEAT SELECTION FORM - START -->
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                        <form th:object="${featList}" th:action="@{/app/feat-selection-result}" th:method="post">

                            <th:block th:each="feat, itemStat : ${featList.feats}">
                                <h5>Feat</h5>
                                <div>
                                    <div class="form-floating mb-3">
                                        <select th:name="|feats[${itemStat.index}]|" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                            <option selected th:value="${feat.id}" th:text="${feat.name}"/>
                                            <option th:each="f : ${featSelection}" th:value="${f.id}" th:text="${f.name}"/>
                                        </select>
                                        <label for="floatingSelect">Select a Feat</label>
                                    </div>
                                </div>
                            </th:block>

                            <input type="hidden" th:value="${charId}" th:name="id">
                            <table>
                                <thead>
                                <tr>
                                    <th><button type="submit" class="btn btn-primary">Save Feats</button></th>
                                    <th><p>&nbsp;</p></th>
                                    <th><a th:href="@{/app/select}" class="btn btn-primary">Done</a></th>
                                </tr>
                                </thead>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- FEAT SELECTION FORM - END -->
            </div>
        </div>
        <!-- Character Creator End -->

        <div th:replace="/fragments/footer :: footer"></div>
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>