<!--TODO: Thymeleaf equivalent of validation error that will be displayed upon error in validation-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head th:replace="/fragments/header :: head"></head>
<body>
<div class="container-fluid position-relative d-flex p-0">
    <div th:replace="/fragments/spinner :: spinner"></div>
    <div th:replace="/fragments/sidebar :: sidebar"></div>

    <!-- Content Start -->
    <div class="content">
        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <!-- Character Creator -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">

                        <form th:action="@{/app/character-creator-step-2-result}" th:object="${stats}" method="post">

                            <p>HINT: Rules say that you can invest max 27 points into ability score from point buy.
                                Every point bought from 14 score upwards costs 2 instead of 1.</p>

                            <div class="bg-secondary rounded h-100 p-4"><h6>Select Ability Score</h6>
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">STR</th>
                                        <th scope="col">DEX</th>
                                        <th scope="col">CON</th>
                                        <th scope="col">INT</th>
                                        <th scope="col">WIS</th>
                                        <th scope="col">CHA</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-floating mb-3">
                                                <select th:field="*{strAbility}" aria-label="Floating label select example">
                                                    <option selected value="8">8 (-1)</option>
                                                    <option value="9">9 (-1)</option>
                                                    <option value="10">10 (+0)</option>
                                                    <option value="11">11 (+0)</option>
                                                    <option value="12">12 (+1)</option>
                                                    <option value="13">13 (+1)</option>
                                                    <option value="14">14 (+2)</option>
                                                    <option value="15">15 (+2)</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-floating mb-3">
                                                <select th:field="*{dexAbility}" aria-label="Floating label select example">
                                                    <option selected value="8">8 (-1)</option>
                                                    <option value="9">9 (-1)</option>
                                                    <option value="10">10 (+0)</option>
                                                    <option value="11">11 (+0)</option>
                                                    <option value="12">12 (+1)</option>
                                                    <option value="13">13 (+1)</option>
                                                    <option value="14">14 (+2)</option>
                                                    <option value="15">15 (+2)</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-floating mb-3">
                                                <select th:field="*{conAbility}" aria-label="Floating label select example">
                                                    <option selected value="8">8 (-1)</option>
                                                    <option value="9">9 (-1)</option>
                                                    <option value="10">10 (+0)</option>
                                                    <option value="11">11 (+0)</option>
                                                    <option value="12">12 (+1)</option>
                                                    <option value="13">13 (+1)</option>
                                                    <option value="14">14 (+2)</option>
                                                    <option value="15">15 (+2)</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-floating mb-3">
                                                <select th:field="*{intAbility}" aria-label="Floating label select example">
                                                    <option selected value="8">8 (-1)</option>
                                                    <option value="9">9 (-1)</option>
                                                    <option value="10">10 (+0)</option>
                                                    <option value="11">11 (+0)</option>
                                                    <option value="12">12 (+1)</option>
                                                    <option value="13">13 (+1)</option>
                                                    <option value="14">14 (+2)</option>
                                                    <option value="15">15 (+2)</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-floating mb-3">
                                                <select th:field="*{wisAbility}" aria-label="Floating label select example">
                                                    <option selected value="8">8 (-1)</option>
                                                    <option value="9">9 (-1)</option>
                                                    <option value="10">10 (+0)</option>
                                                    <option value="11">11 (+0)</option>
                                                    <option value="12">12 (+1)</option>
                                                    <option value="13">13 (+1)</option>
                                                    <option value="14">14 (+2)</option>
                                                    <option value="15">15 (+2)</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-floating mb-3">
                                                <select th:field="*{chaAbility}" aria-label="Floating label select example">
                                                    <option selected value="8">8 (-1)</option>
                                                    <option value="9">9 (-1)</option>
                                                    <option value="10">10 (+0)</option>
                                                    <option value="11">11 (+0)</option>
                                                    <option value="12">12 (+1)</option>
                                                    <option value="13">13 (+1)</option>
                                                    <option value="14">14 (+2)</option>
                                                    <option value="15">15 (+2)</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">
                                        <h6>Level</h6>
                                        <div class="form-floating mb-3">
                                            <select th:field="*{level}" aria-label="Floating label select example"
                                                    id="lvl-condition" onchange="LevelSelectorController()">
                                                <option selected value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="4">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                            </table>
<!--                            TODO pass hidden ID to result in order to make this creator work-->
                            <input type="hidden" th:value="${charId}" th:name="id">
                            <button type="submit" class="btn btn-primary">Next</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Character Creator End -->

        <div th:replace="/fragments/footer :: footer"></div>
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>